@use '../../base';

.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .skills-img-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;

    .skills-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30%;
      height: 50vh;
      background-color: base.$quaternary-color;
      margin: 0 10px 0 10px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;

      .skills-card-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 97%;
        height: 97%;
        background-color: base.$tertiary-color;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;

        .skills-card-article {
          display: none;
          width: 100%;
          margin-top: 20px;

          .graph-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            width: 100%;

            .graph-title {
              font-size: 1em;
              margin: 0;
              padding: 0;
            }

            .graph {
              width: 50%;
              border-radius: 20px;
              background-color: white;
              border: none;

              .graph-html-value, .graph-fb-value , .graph-css-value, .graph-sass-value {
                position: relative;
                left: -1px;
                width: calc(100% + 2px);
                height: 100%;
                background-color: base.$primary-color;
                border-radius: 20px;
                color: #f5f5f5;
              }

              .graph-ts-value, .graph-json-value, .graph-github-value {
                position: relative;
                left: -1px;
                width: calc(90% + 2px);
                height: 100%;
                background-color: base.$primary-color;
                border-radius: 20px;
                color: #f5f5f5;
              }

              .graph-react-value, .graph-git-value {
                position: relative;
                left: -1px;
                width: calc(80% + 2px);
                height: 100%;
                background-color: base.$primary-color;
                border-radius: 20px;
                color: #f5f5f5;
              }

              .graph-js-value {
                position: relative;
                left: -1px;
                width: calc(70% + 2px);
                height: 100%;
                background-color: base.$primary-color;
                border-radius: 20px;
                color: #f5f5f5;
              }

              .graph-node-value, .graph-fb-value {
                position: relative;
                left: -1px;
                width: calc(60% + 2px);
                height: 100%;
                background-color: base.$primary-color;
                border-radius: 20px;
                color: #f5f5f5;
              }

              .graph-php-value {
                position: relative;
                left: -1px;
                width: calc(50% + 2px);
                height: 100%;
                background-color: base.$primary-color;
                border-radius: 20px;
                color: #f5f5f5;
              }
            }
          }
        }

        .skills-img-titles {
          font-size: 20px;
          font-weight: bold;
        }
  
        .skills-img-section {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 100%;
          
          .skills-img {
            width: 50px;
            margin: 10px 10px 0 10px;
          }
        }
      }
      .skills-card-background:hover {

        .skills-img-titles {
          display: none;
        }

        .skills-card-article {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }

        .graph-html-value, .graph-css-value, .graph-sass-value {
          animation-name: goingUp100;
          animation-duration: 0.5s;
        }

        .graph-js-value {
          animation-name: goingUp70;
          animation-duration: 0.5s;
        }

        .graph-ts-value, .graph-json-value, .graph-github-value {
          animation-name: goingUp90;
          animation-duration: 0.5s;
        }

        .graph-node-value, .graph-fb-value {
          animation-name: goingUp60;
          animation-duration: 0.5s;
        }

        .graph-php-value {
          animation-name: goingUp50;
          animation-duration: 0.5s;
        }

        .graph-react-value, .graph-git-value {
          animation-name: goingUp80;
          animation-duration: 0.5s;
        }
      }
    }
  }
}

.skills-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: base.$font-color;
}

@keyframes goingUp100 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes goingUp90 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes goingUp80 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes goingUp70 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes goingUp60 {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes goingUp50 {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}