@use '../../base';

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.about-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: base.$font-color;
}

.about-img {
  width: 300px;
  -webkit-filter: drop-shadow(2px 2px 0 white) 
                    drop-shadow(-2px -2px 0 white);
    filter:drop-shadow(2px 2px 0 white) 
           drop-shadow(-2px -2px 0 white);
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 30vw;
  margin-top: 20px;

  .about-p {
    font-size: 1rem;
    font-weight: 400;
    padding: 5px;
  }
}