@use '../../base';

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .about-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 75%;
    }

    .about-img {
      width: 300px;

      @media screen and (min-width: 1200px) {
        width: 200px;
      }
    }
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin-top: 30px;

    .about-title {
      font-size: 3rem;
      font-weight: 700;
      margin: 0;
      padding: 0;
      color: base.$font-color;

      @media screen and (min-width: 1200px) {
        font-size: 2.5rem;
      }
    }
  
    .about-p {
      font-size: 1.1rem;
      font-weight: 400;
      text-align: center;
      margin: 0;
      padding: 0;
      color: base.$font-color;

      @media screen and (min-width: 1200px) {
        font-size: 1rem;
      }

      .orange {
        color: base.$tertiary-color;
      }

      .netflix {
        background: -webkit-linear-gradient(red, red, #590c00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .about-tools-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin-top: 20px;

    .about-tools-title {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0;
      padding: 0;
      color: base.$font-color;
    }

    .about-tools {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 30px;

      img {
        width: 60px;
        margin: 0 10px;

        @media screen and (min-width: 1200px) {
          width: 50px;
        }
      }
    }
  }
}