@use '../../base';

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: base.$tertiary-color;
}

.about-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: base.$font-color;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 75%;

  .about-p {
    font-size: 1rem;
    font-weight: 400;
    padding: 5px;
  }
}