@use '../../base';

.home-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  
  .home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .home-title {
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 10px;
      padding: 0;
      color: base.$font-color;
    }

    .home-subtitle {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0;
      padding: 2px;
      color: base.$font-color;

      .orange {
        color: base.$tertiary-color;
      }
    }
  }
}