@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-stack: 'Roboto Condensed', sans-serif;
$font-color: #f5f5f5;

$primary-color: #18122B;
$secondary-color: #393053;
$tertiary-color: #443C68;
$quaternary-color: #635985;

// App
.app-wrapper {
  display: flex;
  flex-direction: column;
}