@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-stack: 'Roboto Condensed', sans-serif;
$font-color: #f5f5f5;

$primary-color: #222831;
$secondary-color: #393E46;
$tertiary-color: #FD7014;
$quaternary-color: #EEEEEE;

// App
.app-wrapper {
  display: flex;
  flex-direction: column;
}